<a href="https://colab.research.google.com/github/deepthipidaparthi/Ravi/blob/main/python_lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ewrqrr

In [ ]:
a=10
b=20
print(a+b)
# -,*,/,//,**,==,!=,>,<

30

In [ ]:
a=int(input("enter a value"))
b=int(input("enter b value"))
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a**b)
print(a==b)
print(a!=b)
print(a>b)
print(a<b)

enter a value10
enter b value20
30
-10
200
0.5
0
100000000000000000000
False
True
False
True

In [ ]:
# prompt: ask user enter a number , verify even or odd

# ewrqrr
a=10
b=20
print(a+b)
# -,*,/,//,**,==,!=,>,<
a=int(input("enter a value"))
b=int(input("enter b value"))
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a**b)
print(a==b)
print(a!=b)
print(a>b)
print(a<b)
# ask user enter a number , verify even or odd
num = int(input("Enter a number: "))
if (num % 2) == 0:
   print("{0} is Even".format(num))
else:
   print("{0} is Odd".format(num))

In [ ]:
num = int(input("Enter a number: "))
if (num % 2) == 0:
  print("it is even number")
  print("it is even number")
else:
  print("{0} is Odd".format(num))
  print("it is odd number")

In [ ]:
num = int(input("Enter a number: "))

if num <= 1:
    print(num, "is not a prime number")
elif num <= 3:
    print(num, "is a prime number")
elif num % 2 == 0 or num % 3 == 0:
    print(num, "is not a prime number")
else:
    i = 5
    while i * i <= num:
        if num % i == 0 or num % (i + 2) == 0:
            print(num, "is not a prime number")
            break
        i += 6
    else:
        print(num, "is a prime number")

Enter a number: 5
5 is a prime number

In [1]:
a=3
b=2
c=a+b
print("Add",c)
c=a-b
print("Sub",c)
c=a*b
print("Mul",c)
c=a/b
print("Div",c)
c=a%b
print("Mod",c)
c=a//b
print("Floor Division",c)
c=a**b
print("Exponent",c)

Add 5
Sub 1
Mul 6
Div 1.5
Mod 1
Floor Division 1
Exponent 9

In [2]:
a="python "
b="Programming"
c=a+b
print(c)

python Programming

In [4]:
a=10
b=20
if(a<b):
  print("A is greater than B")
else:
  print("A is less than B")

A is greater than B

In [5]:
a = 10
b = 20
print(a<b and a>b)
print(a<b or a>b)
print(not a<b)

False
True
False

In [6]:
name = "SRKR"
age = 43
print("Name:", name, "Age:", age)

Name: SRKR Age: 43

In [8]:
data = "Hello, this is written to a file!"
with open("output.txt", "w") as file:
  file.write(data)

In [9]:
name = "SRKR"
age = 43
print(f"My name is {name} and I am {age} years old.")

My name is SRKR and I am 43 years old.

In [10]:
name = "SRKR"
age = 43
message = "My name is {} and I am {} years old.".format(name, age)
print(message)

My name is SRKR and I am 43 years old.

In [11]:
name = "SRKR"
age = 43
print("My name is " + name + " and I am " + str(age) + " years old.")

My name is SRKR and I am 43 years old.

In [13]:
import sys
name = "SRKR"
age = 43
sys.stdout.write(f"My name is {name} and I am {age} years old.\n")

My name is SRKR and I am 43 years old.

In [14]:
def ce(name):
  print(name)
ce("Civil")

Civil

In [15]:
import math
result = math.sqrt(25)
print(result)

5.0

In [16]:
x = 10
if x > 5:
  print("x is greater than 5")

x is greater than 5

In [17]:
x = 3
if x > 5:
  print("x is greater than 5")
else:
  print("x is not greater than 5")

x is not greater than 5

In [18]:
x = 3
if x > 5:
  print("x is greater than 5")
elif x == 5:
  print("x is equal to 5")
else:
  print("x is less than 5")

x is less than 5

In [20]:
x = 10
y = 5
if x > 5:
  print("x is greater than 5")
  if y > 2:
    print("y is also greater than 2")
  else:
    print("y is not greater than 2")
else:
  print("x is not greater than 5")

x is greater than 5
y is also greater than 2

In [21]:
x = 5
y = 10
if x > 3 and y < 15:
  print("Both conditions are true")

Both conditions are true

In [22]:
x = 2
y = 2
if x > 2 or y < 12:
  print("At least one condition is true")

At least one condition is true

In [23]:
x = 5
if not x > 10:
  print("x is not greater than 10")

x is not greater than 10

In [25]:
a=10
b=15
if(a<b):
  print("A is Greater than B")
else:
  print("A is less than B")

A is Greater than B

In [28]:
a=10
b=10
if(a<b):
  print("A is Greater than B")
elif(a>b):
  print("A is less than B")
else:
  print("Both values are equal")

Both values are equal

In [29]:
x = 10
if x > 5:
  print("x is greater than 5")
else:
  print("x is not greater than 5")

x is greater than 5

In [30]:
x = 5
if x > 10:
  print("x is greater than 10")
elif x == 10:
  print("x is equal to 10")
else:
  print("x is less than 10")

x is less than 10

In [32]:
for i in range(5):
  print(i) # Prints numbers from 0 to 4

0
1
2
3
4

In [37]:
x=5
while x > 0:
  print(x)
  x -= 1

5
4
3
2
1

In [38]:
def add(a, b):
  return a + b
add(2,2)

4

In [39]:
x = 10
y = 5
if x > 5:
  if y > 2:
    print("Both x and y are greater than 5 and 2, respectively.")
  else:
    print("x is greater than 5, but y is not greater than 2.")
else:
  print("x is not greater than 5.")

Both x and y are greater than 5 and 2, respectively.

In [40]:
string1 = "SRKR"
string2 = "College"
string3 = "SRKR"
if string1 == string3:
  print("string1 and string3 are equal")
if string1 != string2:
  print("string1 and string2 are not equal")

string1 and string3 are equal
string1 and string2 are not equal

In [41]:
x = True
y = False
result = x and y
print(result)

False

In [42]:
x = True
y = False
result = x or y
print(result)

True

In [43]:
x = True
result = not x
print(result)

False

In [44]:
x = 10
y = 5
if x > 5 and y < 15:
  print("Both conditions are true")
else:
  print("At least one condition is false")

Both conditions are true

In [45]:
x = 10
if x > 10:
  print("x is greater than 10")
else:
  print("x is less than or equal to 10")

x is less than or equal to 10

In [48]:
num=int(input("Enter any value:"))
fact=1
for i in range(num,0,-1):
   fact=fact*i
print(fact)

Enter any value:5
120

In [49]:
num=int(input("Enter any value:"))
fact=1
while(num>0):
  fact=fact*num
  num=num-1
print(fact)

Enter any value:5
120

In [51]:
while True:
  number = input("Enter a number: ")
  if number.isdigit():
    break
print("Invalid input. Please enter a number.")

Enter a number: 5
Invalid input. Please enter a number.

In [56]:
for i in range(1,5):
  for j in range(1,6):
    print("*", end=" ")
  print()

* * * * *
* * * * *
* * * * *
* * * * *